body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  margin: 0;
}

.centered-input {
  padding: 10px;
  font-size: 16px;
}

#search-logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
