/* nav-bar.component.css */
nav {
    border: 1px solid black;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    transition: background-color 0.5s ease; /* Add transition effect */
  }
  
  .dark-mode {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  p {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  div {
    display: flex;
    column-gap: 10px;
  }
  
  button {
    background: rgb(243, 232, 40);
    cursor: pointer;
    height: 40px;
  }
  
  .dark-mode button {
    background: #555; /* Dark background color for buttons in dark mode */
    color: #fff; /* Light text color for buttons in dark mode */
  }
  