<div *ngIf="days.length > 0" class="weather-container">
  <div @fade class="card">
    <app-button-degree></app-button-degree>
    <div class="header">
      <span class="city">{{ city }}</span>
      <app-button-favorite
        [city]="city"
        [WeatherCurrent]="WeatherCurrent | async"
      ></app-button-favorite>

      <span class="favorite-text">Add to Favorites</span>
    </div>

    <span *ngIf="degreeMode$ | async" class="weather-degree">
      {{ (WeatherCurrent | async)?.TemperatureF?.Value }} °F
    </span>
    <span *ngIf="!(degreeMode$ | async)" class="weather-degree">
      {{ (WeatherCurrent | async)?.TemperatureC?.Value }} °C
    </span>
    <br />

    <p class="weather-text">{{ (WeatherCurrent | async)?.WeatherText }}</p>
    <div class="weather-card">
      <app-card-weather *ngFor="let day of days">
        <h4 class="mb-1 sfw-normal">{{ day.Date | dateFormat }}</h4>
        <ng-container *ngIf="!(degreeMode$ | async); else fahrenheitBlock">
          <p>Min: {{ day.TemperaturMin | convertDegree : true }}°C</p>
          <p>Max: {{ day.TemperaturMax | convertDegree : true }}°C</p>
        </ng-container>
        <ng-template #fahrenheitBlock>
          <p>Min: {{ day.TemperaturMin }}°F</p>
          <p>Max: {{ day.TemperaturMax }}°F</p>
        </ng-template>
      </app-card-weather>
    </div>
  </div>
</div>

<span *ngIf="days.length == 0" >Please Type Valid city!</span>
